
      <h1 class="custom-heading">{{ section.settings.heading }}</h1>
      <div class="nam-wrapper">
        <div class="hr left"></div>
        <div class="text-block-23">{{ section.settings.title }}</div>
        <div class="hr"></div>
      </div>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","section wf-section");</script>
        
{% schema %}
{
  "name": "sub-section-gifting",
  "tag": "div",
  "class": "section wf-section",
  "settings": [
    {
      "type": "richtext",
      "id": "text_block_26_text",
      "label": "Text Block 26 - Text",
      "default": "<p>Text Area</p>"
    },
    {
      "type": "text",
      "id": "custom_heading_text",
      "label": "custom-heading - Text",
      "default": "Presents For All Occasion"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "heading",
      "default": "{{ section.settings.custom_heading_text }}"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "{{ section.settings.text_block_26_text }}"
    }
  ]
}
{% endschema %}